@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary: 0 0% 7%;
    --secondary: 0 0% 40%;
    --gradientS: 216 94% 44%;
    --gradientE: 328 92% 51%;
  }
}

@layer base {
  html {
    @apply scroll-pt-16 lg:scroll-pt-8;
  }

  body {
    @apply bg-background text-secondary text-fluid-sm tracking-wider;
  }
}

/* hamburger/close icon animation */
.line {
  @apply w-full h-1 bg-slate-600 rounded-lg transition;
}

.open .top {
  @apply rotate-45 translate-y-2.5;
}

.open .middle {
  @apply hidden;
}

.open .bottom {
  @apply -rotate-45 -translate-y-2.5;
}
