---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo-w-text.svg";
---

<Layout
  title="קשת פרויקטים | בבניה"
  description="קשת בטיחות ופרויקטים מעניקה מגוון שירותי בטיחות בתנועה, משולבים בייעוץ והנדסת תנועה ע״י מהנדסי תנועה בעלי ניסיון וידע עשיר"
>
  <main>
    <img src={logo} alt="logomark" />
    <h2 class="text-fluid-2xl font-bold">האתר בבניה</h2>
    <p>לפרטים ניתן לפנות לאמיר בטלפון 054-9181500</p>
  </main>
</Layout>
