---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";

import { Image } from "astro:assets";

import parkingLot from "../assets/parking-lot.jpg";
import dotsAngle from "../assets/dots-angle.svg";
---

<Layout
  title="קשת בטיחות ופרויקטים"
  description="קשת בטיחות ופרויקטים מעניקה מגוון שירותי בטיחות בתנועה, משולבים בייעוץ והנדסת תנועה ע״י מהנדסי תנועה בעלי ניסיון וידע עשיר"
>
  <Hero />
  <Services />
  <!-- image -->
  <div class="flex justify-center">
    <div class="relative">
      <img
        src={dotsAngle.src}
        alt=""
        aria-hidden="true"
        class="hidden lg:block absolute -bottom-14 -left-20"
      />
      <Image
        src={parkingLot}
        alt="חנייית בניין מקורה"
        class="relative w-full max-w-2xl"
      />
    </div>
  </div>
</Layout>
