---
import SectionLayout from "../layouts/SectionLayout.astro";

import { Image } from "astro:assets";

import fence from "../assets/safety-fence.jpg";
---

<div class="lg:grid grid-cols-2">
  <SectionLayout heading="מי אנחנו" id="אודות" classes="max-w-2xl">
    <p>
      חברת קשת בטיחות ופרויקטים מנוהלת ע"י אמיר דניאל מומחה מהטובים בישראל
      בפתרונות בטיחות בתנועה.
      <br />
      חברתנו מעניקה מגוון שירותי בטיחות בתנועה משולבים ביעוץ והנדסת תנועה ע"י מהנדסי
      תנועה בעלי ניסיון וידע עשיר.
      <br />
      בין לקוחותינו ניתן למצא חברות וארגנים מסקטורים שונים בתעשייה, בתי חולים, חברות
      ניהול חניונים, חברות נדלן, משרדים ממשלתיים וגם עבודה משותפת מול מרחב כפרי וקיבוצים.
      <br />
      אנחנו נותנים שירות מקצועי ואיכותי לפרויקטים גדולים וקטנים כאחד וזאת בהתאמה
      אישית לצורכי הלקוח / הארגון תוך שימוש בידע נצבר של עשרות שנים במגוון גדול של
      פרויקטים.
    </p>
  </SectionLayout>

  <div class="p-9">
    <Image
      src={fence}
      alt="כביש עם פס האטה וחניה צדדית"
      width="3000"
      height="4000"
    />
  </div>
</div>
