---
import logoHero from "../assets/keset-logo.svg";
import logoText from "../assets/logo-text1.svg";
import bg from "../assets/hero-background.jpg";
---

<section class="min-h-screen bg-cover bg-right lg:bg-center">
  <h1 class="flex">
    <img src={logoText.src} alt="קשת בטיחות ופרויקטים" />
  </h1>
</section>

<style>
  section {
    background-image: url("../assets/hero-background.svg");
  }
</style>
