---
import angle from "../assets/angle.svg";

interface Props {
  heading: string;
  id: string;
  classes?: string;
}

const { heading, id, classes } = Astro.props;
---

<section
  id={id}
  class:list={[
    "px-fluid-sm py-fluid-4xl flex flex-col justify-center items-center",
    classes
  ]}
>
  <h2
    class="text-fluid-lg font-bold bg-gradient-to-l from-gradientS to-gradientE text-transparent bg-clip-text"
  >
    {heading}
  </h2>
  <div class="relative p-fluid-xl">
    <img
      src={angle.src}
      alt=""
      aria-hidden="true"
      class="absolute -z-10 right-0 bottom-0"
    />
    <slot class="relative" />
  </div>
</section>
